@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
    font-family: 'montserrat';
    background-color:aquamarine;
}
.bold{
    font-weight: bold;

}
.row{
    margin: 0!important;
    padding-bottom: 10px;
}

.noproject-wrapper{
    margin-top:170px;
    padding: 70px 0px;
    border: 6px solid #9e9e9e;
    border-style: dashed;
}
.noproject-wrapper h3{
    padding: 10px;
    margin-bottom: 80px;
}

.section-stats .card-panel{
    margin: 8px;
}
.section-stats h1{
    font-size: 4vw;
    margin: 15px 0px;
}
@media(max-width: 992px){
    .section-stats h1{
        font-size: calc(16px + 6vw);
    }

}
.section-expenses button {
    padding: 0px 35px ;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0,0,0, .25);
    background-color: #6fcf97;
}

.section-expenses .expense {
    padding-top: 20px;
    font-size: 16px;
    border-radius: 0;
    margin: 0;
}

.section-expenses .expense .category{
    font-size: 13px;
}
.section-expenses li:nth-child(even) .expense{
    background-color: dimgrey;
}
/*project add view*/
form ul li.category {
    display:inline-block;
    background-color: white;
    padding: 5px 10px;
    margin-right:5px;
}

